.aligner{
    display: flex;
    justify-content: center;
    border: 2px solid #ddd;
    border-radius: 17px;
    margin-top: 90px;
    box-shadow: 6px 6px 10px 0px rgba(224,224,224,1);

}

.appTitle, .newTaskTitle{
    font-weight: bold;
    margin: 0;
    font-size: 37px;
}

.newTaskTitle{
    margin-bottom: 40px;
}

.tasksContainer, .newTaskForm{
     padding: 89px;
}

label{
    font-weight: 700;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 14px;
}

.inputBox{
    display: flex;
    margin-top: 14px;
}

.taskInput{
    border-radius: 3px;
}

form a {
    margin-left: 10px;
}
